.tasks {
    height: calc(100vh - 350px);
    background-color: rgba(23, 23, 27, 0.92);
    position: relative;
    &_container {
        height: 450px;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            width: 1px;
        }
        &::-webkit-scrollbar-track {
            background: #595959;   
        }
        &::-webkit-scrollbar-thumb {
            background-color: #00dfc4;  
            border-radius: 20px;       
            border: 3px solid #00dfc4;  
        }
    }
    &_content {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -22%;
        width: 800px;
        text-align: center;
        margin-top: -50px;
        padding-bottom: 50px;
        background-color: rgb(33, 33, 39, .92);
        border: 1px solid #595959;
        border-radius: 5px;
        &-item {
            display: flex;
            align-items: center;
            padding: 20px 20px;
            color: #fff;
            border-bottom: 1px solid #595959;
            transition: 1s ease-in;
            &-done {
                width: 20px;
                height: 20px;
                border-radius: 100%;
                border: 1px solid #595959;
                background: none;
                cursor: pointer;
            }
            &-text {
                width: 80%;
                display: flex;
                flex-direction: column;
                text-align: left;
                padding-left: 20px;
                h4 {
                    margin: 0;
                    text-transform: uppercase;
                }
                span {
                    font-style: italic;
                }
            }
            &-btns {
                display: flex;
                align-items: flex-end;
                margin-left: 35px;
                button {
                    background: none;
                    border: none;
                    font-size: 18px;
                    color: #595959;
                    &:hover {
                        color: #00dfc4;
                    }
                    &:nth-child(2) {
                        font-size: 20px;
                        &:hover {
                            color: red;
                        }
                    }
                }
            }
        }
    }
}