.start {
    height: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #595959;
    button {
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #fff;
        background: linear-gradient(to left, #00dfc4, #553553, #00dfc4);
        text-decoration: none;
        width: 210px;
        height: 60px;
        border-radius: 5px;
        background-size: 200%;
        transition: .7s;
        border: none;
        margin: 0 25px;
        &:hover {
            background-position: right;
        }
    }
    &_filters {
        margin-top: 30px;
        span {
            margin: 0px 45px;
            a {
                transition: .7s;
                text-transform: uppercase;
                text-decoration: none;
                color: #595959;
                &:hover {
                    color: #00dfc4;
                }
            }
        }
    }
}