.forms {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    border-bottom: 1px solid #595959;
    padding-bottom: 15px;
    position: relative;
    &_close {
        position: absolute;
        right: 20px;
        font-size: 24px;
        background: none;
        border: none;
        color: #595959;
        transition: .5s;
        &:hover {
            color: red;
        }
    }
    &_btn {
        font-size: 16px;
        text-transform: uppercase;
        color: #fff;
        background: linear-gradient(to left, #00dfc4, #553553, #00dfc4);
        text-decoration: none;
        padding: 7px 25px;
        border-radius: 5px;
        background-size: 200%;
        transition: .7s;
        border: none;
        &:hover {
            background-position: right;
        }
    }
    &_input_box {
        position: relative;
        width: 350px;
        text-align: left;
        input {
            width: 100%;
            padding: 10px;
            border: 1px solid rgb(255, 255, 255, 0.25);
            background: rgb(33, 33, 39, .92);
            border-radius: 5px;
            outline: none;
            color: #fff;
            font-size: 1.2em;
            margin-bottom: 25px;
            letter-spacing: 1px;
        }
        span {
            position: absolute;
            left: 0;
            top: 0;
            padding: 10px;
            pointer-events: none;
            font-size: 1em;
            color: rgb(255, 255, 255, 0.25);
            text-transform: uppercase;
            transition: .4s;
        }
        input:valid ~ span, input:focus ~ span {
            color: rgb(33, 33, 39, .92);
            transform: translateX(10px) translateY(-7px);
            font-size: .75em;
            padding: 0 10px;
            background: #00dfc4;
            border-left: 1px solid #00dfc4;
            border-right: 1px solid #00dfc4;
            border-radius: 5px;
            letter-spacing: .2em;
        }
        input:valid, input:focus {
            border: 1px solid #00dfc4;
        }
        
    }
}

@media (max-width: 575px) {
    .forms {
        &_input {
            &_box {
                input {
                    width: 90%;
                }
            }
        }
    }
}

@media (max-width: 475px) {
    .forms {
        &_close {
            right: 5px;
            top: 5px;
        }
        &_input {
            &_box {
                input {
                    width: 86%;
                }
            }
        }
    }
}